#areYouSureMain{
  -fx-background-image: url("../Images/background");
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover ;
  -fx-position: relative;
}

#yes{
    -fx-font-size: 20px !important;
    -fx-font-weight: bold !important;
}

#no{
    -fx-font-size: 20px !important;
    -fx-font-weight: bold !important;
}